<Configuration status="INFO">
    <Properties>
        <Property name="timestamp" value="${date:ddMMyyyyHHmmss}"/>
    </Properties>
    <Appenders>
        <Console name="Console1" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <File name="File1" fileName="java-ppaf-drill-logs/ppaf_run_${timestamp}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console1"/>
            <AppenderRef ref="File1"/>
        </Root>
    </Loggers>
</Configuration>